html {
  font-size: 10px;
  background: url("Images/fuji.jpg");
  height: auto;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}

.mainDiv {
  display: flex;
  flex: 1;
  min-height: 34vh;
  align-items: center;
  justify-content: center;
}

.childDiv {
  border-radius: 3.5rem;
  margin: 8rem;
  font-size: 4rem;
  padding: 7rem;
  width: 14rem;
  text-align: center;
  color: #62bfce;
  background: rgba(64, 60, 60, 0.2);
  text-shadow: 0 0 0.5rem black;
}
.resultDiv{
  border-radius: 3.5rem;
  margin: 10rem;
  font-size: 4rem;
  padding: 2rem;
  width: 112rem;
  text-align: center;
  color: #62bfce;
  background: rgba(64, 60, 60, 0.2);
  text-shadow: 0 0 0.5rem black;
}